@page
@model МодельГоловної
@{
    ViewData["Заголовок"] = "Головна сторінки";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <p>Дізнайтеся про <a href="https://learn.microsoft.com/aspnet/core">побудування веб-додатків із ASP.NET Core</a>.</p>
    <button class="btn btn-primary">MSBuild</button> не <button class="btn btn-secondary">страшний</button>
</div>
