@page
@model МодельПриватності
@{
    ViewData["Заголовок"] = "Політіка конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<p>Використовуйте цю сторінкі для подробиць про політику конфіденційності вашого сайту.</p>
